$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 1200px;

$accent1: #333;
$accent2: #fff;
$accent3: #fff;
$dark: #000;
$light: #fff;
$success: #00ff00;
$warning: #ffaa00;
$error: #ff0000;

$font: "Catamaran", sans-serif;
